@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@100;400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: '노토산스', 'Noto Sans KR', '나눔고딕', 'Nanum Gothic', '돋움', 'Dotum', '굴림', 'Gulim', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  display: block;
}

.blog i,
.insta i,
.face i,
.youtube i {
  color: white;
}

.face {
  background-color: #1877f2;
}

.blog {
  background-color: green;
}

.insta {
  background: url(../img/insta.png) no-repeat center;
}

.youtube {
  background-color: red;
}

label {
  cursor: pointer;
}

/***********header**************/
.fix {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header {
  background-color: #fff;
  position: relative;
}

.header .logo h1 {
  text-align: center;
}

.header .logo h1 a {
  font-size: 1.8rem;
  color: #173C86;
  line-height: 60px;
}

.header .menu {
  position: absolute;
  left: 25px;
  line-height: 60px;
  top: 6px;
}

.header .menu label {
  display: block;
  text-align: center;
}

.header .menu label i {
  font-size: 1.8rem;
}

.gnb {
  display: none;
}

.lnb_pc {
  display: none;
}

.menu_list {
  position: fixed;
  left: -600px;
  top: 0;
  width: 55%;
  height: 100vh;
  z-index: 9999;
  background-color: #173C86;
  transition: all 0.5s;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 10%;
}

.menu_list::-webkit-scrollbar {
  display: none;
}

.menu_list li a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: white;
  font-size: 1.4rem;
  border-bottom: 1px solid white;
  padding-left: 10%;
}

.menu_list li i {
  position: absolute;
  right: 10px;
  line-height: 50px;
}

.menu_list li label {
  display: block;
  line-height: 50px;
}

.menu_list .login .wide {
  display: none;
}

.menu_list .login {
  position: relative;
  font-size: 0;
  padding-left: 10%;
}

.menu_list .login i {
  position: absolute;
  font-weight: bold;
  font-size: 2rem;
  right: 10px;
  top: 15px;
  color: whitesmoke;
}

.menu_list .login p {
  display: inline-block;
}

.menu_list .login p:first-child a {
  margin-right: 5px;
}

.menu_list .login p a {
  border: 1px solid white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 5px 10px;
  color: white;
  height: 60px;
  line-height: 60px;
}

.list {
  height: 0px;
  transition: all 0.3s;
  overflow: hidden;
  border-bottom: 1px solid white;
  padding-left: 5%;
}

.list li a {
  display: block;
  height: 35px;
  line-height: 35px;
  font-size: 1rem;
  opacity: 0;
  transition: all 0.3s;
  border-bottom: none;
}

#menu_chk,
#drop_chk,
#stick_chk,
#tea_chk,
#gift_chk,
#comu_chk {
  display: none;
}

#menu_chk:checked~.menu_list {
  left: 0;
}

#drop_chk:checked~.menu_list .lnb .drop .coffee_list {
  height: 140px;
}

#drop_chk:checked~.menu_list .lnb .drop .coffee_list li a {
  opacity: 1;
}

#drop_chk:checked~.menu_list .lnb .coffee .drop_open {
  display: none;
}

#drop_chk:checked~.menu_list .lnb .coffee .drop_close {
  display: block;
}

#drop_chk~.menu_list .lnb .coffee .drop_close {
  display: none;
}

/* 스틱 */
#stick_chk:checked~.menu_list .lnb .drop .stick_list {
  height: 105px;
}

#stick_chk:checked~.menu_list .lnb .drop .stick_list li a {
  opacity: 1;
}

#stick_chk:checked~.menu_list .lnb .stick .drop_open {
  display: none;
}

#stick_chk:checked~.menu_list .lnb .stick .drop_close {
  display: block;
}

#stick_chk~.menu_list .lnb .stick .drop_close {
  display: none;
}

/* 음료티 */
#tea_chk:checked~.menu_list .lnb .drop .tea_list {
  height: 175px;
}

#tea_chk:checked~.menu_list .lnb .drop .tea_list li a {
  opacity: 1;
}

#tea_chk:checked~.menu_list .lnb .tea .drop_open {
  display: none;
}

#tea_chk:checked~.menu_list .lnb .tea .drop_close {
  display: block;
}

#tea_chk~.menu_list .lnb .tea .drop_close {
  display: none;
}

/* 선물세트 */
#gift_chk:checked~.menu_list .lnb .drop .gift_list {
  height: 105px;
}

#gift_chk:checked~.menu_list .lnb .drop .gift_list li a {
  opacity: 1;
}

#gift_chk:checked~.menu_list .lnb .gift .drop_open {
  display: none;
}

#gift_chk:checked~.menu_list .lnb .gift .drop_close {
  display: block;
}

#gift_chk~.menu_list .lnb .gift .drop_close {
  display: none;
}

/* 커뮤니티 */
#comu_chk:checked~.menu_list .lnb .drop .comu_list {
  height: 105px;
}

#comu_chk:checked~.menu_list .lnb .drop .comu_list li a {
  opacity: 1;
}

#comu_chk:checked~.menu_list .lnb .comu .drop_open {
  display: none;
}

#comu_chk:checked~.menu_list .lnb .comu .drop_close {
  display: block;
}

#comu_chk~.menu_list .lnb .comu .drop_close {
  display: none;
}

.search_box {
  display: none;
}

.search_box {
  position: relative;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  background-color: #173C86;
}

.search_box i {
  position: absolute;
  left: 30px;
  top: 18px;
  font-size: 1.1rem;
}

.search_box input {
  width: 100%;
  height: 25px;
  border: 1px solid black;
  outline: none;
  padding-left: 35px;
}

/*************event***************/
.event {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.event_img img {
  width: 100%;
  height: 200px;
}

.event_ment {
  position: absolute;
  width: 100%;
  top: 50px;
  text-align: center;
}

.event_ment h1 {
  font-size: 2rem;
  padding-bottom: 15px;
}

.location {
  text-align: right;
  padding-right: 5px;
}

.location p {
  display: inline-block;
  color: #777;
}
.location p a{color: #777;}
.location p i {
  margin: 0 5px;
}

@media (min-width:601px) {
  .header .logo h1 a {
    font-size: 2.5rem;
  }

  .header .menu {
    top: 8px;
  }

  .header .menu label i {
    font-size: 2.1rem;
  }

  .menu_list {
    left: -500px;
    width: 45%;
  }

  .menu_list .login p a {
    font-size: 1rem;
  }
}

@media (min-width:769px) {

  .menu_list {
    left: -1069px;
  }
}

@media(min-width:1070px) {
  .fix {
    position: sticky;
    top: 0;
    z-index: 9999;
  }

  .header .menu label {
    display: none;
  }

  .header .logo h1 a {
    font-size: 2.9rem;
    line-height: 115px;
  }

  .header .header_inner {
    position: relative;
    width: 100%;
  }

  .bottom_sns {
    display: none;
  }

  .gnb {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    padding-right: 5px;
  }

  .gnb ul {
    float: left;
  }

  .gnb ul li {
    float: left;
  }

  .gnb ul li a {
    display: block;
    font-size: 0.7rem;
    color: #625e5e;
    font-weight: bold;
    padding: 10px 5px;
    height: auto;
    line-height: 10px;
  }

  .gnb .sns {
    margin-left: 10px;
    margin-top: 3px;
  }

  .gnb .sns li {
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
  }

  .sns li:last-child {
    margin-right: 0;
  }

  .gnb .sns li a {
    display: block;
    width: 25px;
    height: 25px;
    color: black;
    padding: 0px;
    line-height: 25px;
  }

  .gnb .sns li a i {
    font-size: 0.9rem;
  }

  .lnb_pc {
    display: block;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid #000;
  }

  .lnb_pc ul {
    overflow: hidden;
  }

  .lnb_pc ul li {
    font-family: 'Nanum Gothic';
    float: left;
    width: 14.28%;
  }

  .lnb_pc .lnb_main li a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s;
    font-size: 1.2rem;
    background-color: #fff;
    z-index: 1;
  }

  .lnb_pc ul li a:hover {
    background-color: #173C86;
    color: white;
  }

  .down {
    position: absolute;
    width: 14.28%;
    overflow: hidden;
    height: 0;
    transition: all 0.3s;
  }

  .lnb_pc .down li {
    font-family: 'Noto Sans KR';
    float: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    color: black;
  }

  .lnb_pc .down li a {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
  }

  .lnb_pc .down li:last-child a {
    border: none;
  }

  .lnb_pc ul li:hover .coffee_pc {
    height: 160px;
  }

  .lnb_pc ul li:hover .stick_pc {
    height: 120px;
  }

  .lnb_pc ul li:hover .tea_pc {
    height: 200px;
  }

  .lnb_pc ul li:hover .gift_pc {
    height: 120px;
  }

  .lnb_pc ul li:hover .comu_pc {
    height: 120px;
  }

  .lnb_pc .down li a:hover {
    background-color: cornflowerblue;
  }

  .menu_list {
    display: none;
  }

  .search_box {
    display: block;
  }

  .search_box {
    position: absolute;
    width: 250px;
    right: 10px;
    top: 40px;
    padding: 0;
    background-color: white;
  }

  .search_box input {
    padding: 0;
    border: none;
    border-bottom: 1px solid black;
  }

  .search_box i {
    position: absolute;
    right: 0;
    left: auto;
    top: 18px;
    cursor: pointer;
  }
}