@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@100;400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: '노토산스', 'Noto Sans KR', '나눔고딕', 'Nanum Gothic', '돋움', 'Dotum', '굴림', 'Gulim', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  display: block;
}

.blog i,
.insta i,
.face i,
.youtube i {
  color: white;
}

.face {
  background-color: #1877f2;
}

.blog {
  background-color: green;
}

.insta {
  background: url(../img/insta.png) no-repeat center;
}

.youtube {
  background-color: red;
}

label {
  cursor: pointer;
}

.eb {
  color: blue;
  font-weight: bold;
}

/***********header**************/
.fix {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header {
  background-color: #fff;
  position: relative;
}

.header .logo h1 {
  text-align: center;
}

.header .logo h1 a {
  font-size: 1.8rem;
  color: #173C86;
  line-height: 60px;
}

.header .menu {
  position: absolute;
  left: 25px;
  line-height: 60px;
  top: 6px;
}

.header .menu label {
  display: block;
  text-align: center;
}

.header .menu label i {
  font-size: 1.8rem;
}

.gnb {
  display: none;
}

.lnb_pc {
  display: none;
}

.menu_list {
  position: fixed;
  left: -600px;
  top: 0;
  width: 55%;
  height: 100vh;
  z-index: 9999;
  background-color: #173C86;
  transition: all 0.5s;
  overflow: hidden;
  padding-bottom: 10%;
}

.menu_list::-webkit-scrollbar {
  display: none;
}

.menu_list li a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: white;
  font-size: 1.4rem;
  border-bottom: 1px solid white;
  padding-left: 10%;
}

.menu_list li i {
  position: absolute;
  right: 10px;
  line-height: 50px;
}

.menu_list li .eb {
  color: greenyellow;
}

.menu_list li label {
  display: block;
}

.menu_list .login {
  font-size: 0;
  padding-left: 5%;
  margin-top: 60px;
  margin-bottom: 10px;
  overflow: hidden;
}

.menu_list .login .log i {
  font-size: 1.1rem;
  position: unset;
  padding-right: 3px;
}

.menu_list .login p {
  width: 48%;
  float: left;
}

.menu_list .login i {
  position: absolute;
  font-weight: bold;
  font-size: 2rem;
  right: 10px;
  top: 15px;
  color: whitesmoke;
}

/* .menu_list .login p {
  display: inline-block;
} */

.menu_list .login p:first-child a {
  margin-right: 5px;
}

.menu_list .login p a {
  display: block;
  border: 2px solid white;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  padding: 7px 0px;
  text-align: center;
}

.list {
  height: 0px;
  transition: all 0.3s;
  overflow: hidden;
  border-bottom: 1px solid white;
  padding-left: 5%;
}

.list li a {
  display: block;
  height: 35px;
  line-height: 35px;
  font-size: 1rem;
  opacity: 0;
  transition: all 0.3s;
  border-bottom: none;
}

#menu_chk,
#drop_chk,
#stick_chk,
#tea_chk,
#gift_chk,
#comu_chk,
#menu_ra,
#drop_ra,
#stick_ra,
#tea_ra,
#gift_ra,
#comu_ra {
  display: none;
}

#menu_chk:checked~.menu_list {
  left: 0;
}

#drop_ra:checked~.menu_list .lnb .drop .coffee_list {
  height: 140px;
}

#drop_ra:checked~.menu_list .lnb .drop .coffee_list li a {
  opacity: 1;
}

#drop_ra:checked~.menu_list .lnb .coffee .drop_open {
  display: none;
}

#drop_ra:checked~.menu_list .lnb .coffee .drop_close {
  display: block;
}

#drop_ra~.menu_list .lnb .coffee .drop_close {
  display: none;
}

/* 스틱 */
#stick_ra:checked~.menu_list .lnb .drop .stick_list {
  height: 105px;
}

#stick_ra:checked~.menu_list .lnb .drop .stick_list li a {
  opacity: 1;
}

#stick_ra:checked~.menu_list .lnb .stick .drop_open {
  display: none;
}

#stick_ra:checked~.menu_list .lnb .stick .drop_close {
  display: block;
}

#stick_ra~.menu_list .lnb .stick .drop_close {
  display: none;
}

/* 음료티 */
#tea_ra:checked~.menu_list .lnb .drop .tea_list {
  height: 175px;
}

#tea_ra:checked~.menu_list .lnb .drop .tea_list li a {
  opacity: 1;
}

#tea_ra:checked~.menu_list .lnb .tea .drop_open {
  display: none;
}

#tea_ra:checked~.menu_list .lnb .tea .drop_close {
  display: block;
}

#tea_ra~.menu_list .lnb .tea .drop_close {
  display: none;
}

/* 선물세트 */
#gift_ra:checked~.menu_list .lnb .drop .gift_list {
  height: 105px;
}

#gift_ra:checked~.menu_list .lnb .drop .gift_list li a {
  opacity: 1;
}

#gift_ra:checked~.menu_list .lnb .gift .drop_open {
  display: none;
}

#gift_ra:checked~.menu_list .lnb .gift .drop_close {
  display: block;
}

#gift_ra~.menu_list .lnb .gift .drop_close {
  display: none;
}

/* 커뮤니티 */
#comu_ra:checked~.menu_list .lnb .drop .comu_list {
  height: 105px;
}

#comu_ra:checked~.menu_list .lnb .drop .comu_list li a {
  opacity: 1;
}

#comu_ra:checked~.menu_list .lnb .comu .drop_open {
  display: none;
}

#comu_ra:checked~.menu_list .lnb .comu .drop_close {
  display: block;
}

#comu_ra~.menu_list .lnb .comu .drop_close {
  display: none;
}


.search_box {
  display: none;
}

.search_box {
  position: relative;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  background-color: #173C86;
}

.search_box i {
  position: absolute;
  left: 30px;
  top: 18px;
  font-size: 1.1rem;
}

.search_box input {
  width: 100%;
  height: 25px;
  border: 1px solid black;
  outline: none;
  padding-left: 35px;
}

/*************event***************/
.event {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.event_img img {
  width: 100%;
  height: 200px;
}

.event_ment {
  position: absolute;
  width: 100%;
  top: 50px;
  text-align: center;
}

.event_ment h1 {
  font-size: 2rem;
  padding-bottom: 15px;
}

.location {
  text-align: right;
  padding: 0 10px 10px 10px;
}

.location p {
  display: inline-block;
  color: #777;
  font-size: 0.8rem;
}

.location p a {
  color: #777;
  font-size: 0.8rem;
}

.location p i {
  margin: 0 5px;
}

.event_search {
  padding: 10px 10px 0 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

.event_sel {
  width: 75%;
  float: right;
  overflow: hidden;
}

.event_sel select {
  float: left;
  width: 30%;
  height: 35px;
  margin-right: 2%;
  padding-left: 5px;
  border: 1px solid #777;
  background-color: #fff;
}

.search_bar {
  overflow: hidden;
  float: left;
  width: 68%;
  height: 35px;
  border: 1px solid #777;
}

.search_bar button {
  background: url(../img/icon_search.gif) no-repeat 11px center;
  width: 34px;
  height: 35px;
  border: none;
  float: right;
  cursor: pointer;
}

#event_input {
  outline: none;
  border: none;
  width: 80%;
  height: 35px;
  padding-left: 5px;
}

.event_border {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.event_list {
  padding: 10px 5px;
  margin: 10px 5px;
}

.event_sel i {
  position: absolute;
  right: 5px;
  top: 7px;
  font-size: 1.2rem;
  cursor: pointer;
}

.event_box {
  overflow: hidden;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ccc;
}

.eb_img {
  padding: 10px 0;
}

.eb_img img {
  width: 100%;
}

.eb_letter {
  float: left;
  width: 100%;
  padding: 0 0 5px 5px;
}

.eb_letter p {
  font-size: 0.8rem;
  margin-bottom: 5px;
  color: #898989;
}

.eb_letter p:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.eb_letter p span {
  color: #1877f2;
}

.event_ing {
  width: 100px;
  line-height: 30px;
  color: white;
  background-color: #6bb93f;
  font-weight: bold;
  text-align: center;
  float: right;
  border-radius: 15px;
}

.end {
  border-radius: 15px;
  background-color: #898989;
}


/************pagenation*************/
.pagenation {
  text-align: center;
  margin: 50px 0;
}

.pagenation ul li {
  display: inline-block;
}

.pagenation ul li:nth-child(2) a {
  background-color: #f44336;
  color: #fff;
}

.pagenation ul li a {
  display: block;
  padding: 5px 15px;
  font-size: 1.1rem;
}

/***********quick************/
.quick {
  position: fixed;
  bottom: 10px;
  right: 0;
  margin-right: 5px;
  z-index: 999;
}

.quick a {
  display: block;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  width: 45px;
  height: 45px;
  font-size: 1.2rem;
  line-height: 45px;
  background-color: #fff;
  margin-bottom: 7px;
}

.quick .dis {
  display: none;
}

.quick .blind {
  display: none;
}

/**************footer**************/
.footer {
  margin-top: 30px;
  background-color: #222;
  color: white;
  padding: 20px 15px;
}

.fl {
  font-size: 2rem;
  font-weight: bold;
}

.footer_right ul {
  color: #868686;
}

.footer_right ul li {
  font-size: 0.8rem;
}

.footer_right ul li:nth-child(1) {
  padding: 10px 0;
  color: white;
  letter-spacing: 0.5px;
}

.footer_right ul li:nth-child(2) {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer_middle {
  margin: 15px 0;
}

.footer_middle ul li {
  display: inline-block;
}

.footer_middle ul li a {
  color: #cbcbcb;
  display: block;
  margin-right: 10px;
  font-size: 0.95rem;
}

.footer_left p {
  font-size: 0.8rem;
  color: #868686;
}

.footer_left p:last-child {
  padding: 15px 0;
}


@media (min-width:601px) {
  .header .logo h1 a {
    font-size: 2.5rem;
    line-height: 70px;
  }

  .header .menu {
    top: 8px;
    left: 30px;
    line-height: 70px;
  }

  .header .menu label i {
    font-size: 2.1rem;
  }

  .menu_list {
    left: -500px;
    width: 45%;
  }

  .menu_list li a {
    height: 70px;
    line-height: 70px;
    font-size: 1.6rem;
  }

  .menu_list li i {
    line-height: 70px;
  }

  .menu_list .login p a {
    font-size: 1rem;
  }

  .list li a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
    opacity: 0;
    transition: all 0.3s;
    border-bottom: none;
  }

  #drop_ra:checked~.menu_list .lnb .drop .coffee_list {
    height: 160px;
  }

  #stick_ra:checked~.menu_list .lnb .drop .stick_list {
    height: 120px;
  }

  #tea_ra:checked~.menu_list .lnb .drop .tea_list {
    height: 200px;
  }

  #gift_ra:checked~.menu_list .lnb .drop .gift_list {
    height: 120px;
  }

  #comu_ra:checked~.menu_list .lnb .drop .comu_list {
    height: 120px;
  }

  .event_ment h1 {
    font-size: 2.5rem;
  }

  .event_ment {
    top: 65px;
  }

  .event_ment p {
    font-size: 1rem;
  }

  .event_sel {
    width: 60%;
  }

  .event_img img {
    height: 270px;
  }

  .event_list {
    display: flex;
    flex-wrap: wrap;
  }

  .eb_letter p:first-child {
    font-size: 1.1rem;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .event_box {
    width: calc(100% - 50% - 5px);
    margin-right: 10px;
  }

  .eb_img img {
    height: 150px;
  }

  .event_ing {
    margin-top: 10px;
  }

  .event_box:nth-child(2),
  .event_box:nth-child(4),
  .event_box:nth-child(6),
  .event_box:nth-child(8),
  .event_box:nth-child(10) {
    margin-right: 0;
  }

  .location p {
    font-size: 1rem;
  }

  .location p a {
    font-size: 1rem;
  }

  .quick .dis {
    display: block;
  }

  .quick {
    bottom: 30px;
    right: 5px;
  }

  .quick a {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .quick .up {
    line-height: 50px;
  }

  .quick a i {
    font-size: 1.4rem;
    font-weight: bold;
  }
}

@media (min-width:769px) {
  .event_sel {
    width: 45%;
  }

  .event_img img {
    height: 285px;
  }

  .menu_list {
    left: -1069px;
  }

  .eb_letter p:first-child {
    font-size: 1.2rem;
  }
}

@media(min-width:1070px) {
  .fix {
    position: sticky;
    top: 0;
    z-index: 9999;
  }

  .header .menu label {
    display: none;
  }

  .header .logo h1 a {
    font-size: 3rem;
    line-height: 135px;
  }

  .header .header_inner {
    position: relative;
    width: 100%;
  }

  .bottom_sns {
    display: none;
  }

  .gnb {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    padding-right: 5px;
  }

  .gnb ul {
    float: left;
  }

  .gnb ul li {
    float: left;
  }

  .gnb ul li a {
    display: block;
    font-size: 0.7rem;
    color: #625e5e;
    font-weight: bold;
    padding: 10px 5px;
    height: auto;
    line-height: 10px;
  }

  .gnb .sns {
    margin-left: 10px;
    margin-top: 3px;
  }

  .gnb .sns li {
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
  }

  .sns li:last-child {
    margin-right: 0;
  }

  .gnb .sns li a {
    display: block;
    width: 25px;
    height: 25px;
    color: black;
    padding: 0px;
    line-height: 25px;
  }

  .gnb .sns li a i {
    font-size: 0.9rem;
  }

  .lnb_pc {
    display: block;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid #000;
  }

  .lnb_pc ul {
    overflow: hidden;
  }

  .lnb_pc ul li {
    font-family: 'Nanum Gothic';
    float: left;
    width: 14.28%;
  }

  .lnb_pc .lnb_main li a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s;
    font-size: 1.2rem;
    background-color: #fff;
    z-index: 1;
  }

  .lnb_pc ul li a:hover {
    background-color: #173C86;
    color: white;
  }

  .down {
    position: absolute;
    width: 14.28%;
    overflow: hidden;
    height: 0;
    transition: all 0.3s;
  }

  .lnb_pc .down li {
    font-family: 'Noto Sans KR';
    float: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    color: black;
  }

  .lnb_pc .down li a {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
  }

  .lnb_pc .down li:last-child a {
    border: none;
  }

  .lnb_pc ul li:hover .coffee_pc {
    height: 160px;
  }

  .lnb_pc ul li:hover .stick_pc {
    height: 120px;
  }

  .lnb_pc ul li:hover .tea_pc {
    height: 200px;
  }

  .lnb_pc ul li:hover .gift_pc {
    height: 120px;
  }

  .lnb_pc ul li:hover .comu_pc {
    height: 120px;
  }

  .lnb_pc .down li a:hover {
    background-color: cornflowerblue;
  }

  .menu_list {
    display: none;
  }

  .search_box {
    display: block;
  }

  .search_box {
    position: absolute;
    width: 260px;
    right: 10px;
    top: 48px;
    padding: 0;
    background-color: white;
  }

  .search_box input {
    padding: 0;
    padding-left: 5px;
    border: none;
    border-bottom: 2px solid black;
  }

  .search_box i {
    position: absolute;
    right: 0;
    left: auto;
    top: 18px;
    cursor: pointer;
  }

  .event_img img {
    height: 310px;
  }

  .event_ment h1 {
    font-size: 3rem;
  }

  .event_search {
    margin-bottom: 40px;
  }

  .event_sel select {
    padding-left: 10px;
  }

  .event_box {
    width: calc(100% - 66.6667% - 6.7px);
  }

  .event_box:nth-child(2),
  .event_box:nth-child(4),
  .event_box:nth-child(8),
  .event_box:nth-child(10) {
    margin-right: 10px;
  }

  .event_box:nth-child(3),
  .event_box:nth-child(6),
  .event_box:nth-child(9) {
    margin-right: 0;
  }

  .eb_img img {
    height: 150px;
  }

  .event_sel {
    width: 35%;
  }

  .event_ment p {
    font-size: 1.2rem;
  }

  .quick .blind {
    display: none;
  }

  .quick .up {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .quick .up i {
    font-size: 1.8rem;
  }

  .footer {
    overflow: hidden;
  }

  .footer_inner div {
    float: left;
  }

  .fl {
    width: 60%;
    float: left;
    font-size: 2.7rem;
    justify-content: center;
    padding-top: 20px;
  }

  .footer .footer_right {
    float: right;
    width: 30%;
    padding-top: 20px;
  }

  .footer_left {
    width: 100%;
  }

  .footer_middle ul li {
    margin-right: 30px;
  }

  .footer_middle {
    margin: 35px 0;
  }

  .footer_middle ul li a {
    font-size: 1.2rem;
  }

  .footer_left p {
    font-size: 0.9rem;
  }

  .footer_right ul li {
    font-size: 1rem;
  }

  .footer_right ul li:nth-child(2) {
    font-size: 1.7rem;
  }
}

@media(min-width:1274px) {
  .header .header_inner {
    position: relative;
    width: 1274px;
    margin: 0 auto;
  }

  .lnb_pc {
    background-color: #fff;
  }

  .lnb_inner {
    width: 1274px;
    margin: 0 auto;
  }

  .lnb_pc ul li {
    width: 182px;
  }

  .down {
    width: 182px;
  }

  .gnb {
    right: 20px;
    padding: 0;
  }

  .search_box {
    right: 21px;
  }

  .event_outer {
    width: 1274px;
    margin: 0 auto;
  }
}